.skill {
    display: flex;
    align-items: center;
}
.skill__container {
    visibility: visible;
    position: relative;
    margin-top: -4px;
    width: 300px;
    height: 25px;
    border: solid 1px black;
    border-radius: 4px;
    background-color: rgba(43, 34, 34,0.95);
}
.skill__container__skill {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
.skill__container2__skill {
    margin-bottom: 30px;
    height: 32px;
    display: flex;
    flex-direction: row;
}

.skill__container__man--skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.skill__contain__img {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}
.skill__contain__img--git {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    transform: rotate(45deg) scale(1.15);

}

.contain__skill--204--animate {
    width: 204px;
    height: 25px;
    background-color: rgb(9, 196, 9);
    border-radius: 4px;
    box-shadow: 0 3px 0 rgb(16, 240, 16) inset,
    0 4px 0 rgba(16, 240, 16, 1) inset,
    0 5px 0 rgba(16, 240, 16, 1) inset,
    0 6px 0 rgba(16, 240, 16, 0.8) inset,
    0 7px 0 rgba(14, 240, 16, 0.6) inset,
    0 8px 0 rgba(15, 240, 16, 0.4) inset,
    0 9px 0 rgba(15, 240, 16, 0.2) inset;
    animation-duration: 2s;
    animation-name: slide204;
}
.contain__skill--246--animate {
    width: 246px;
    height: 25px;
    background-color: rgb(9, 196, 9);
    border-radius: 4px;
    box-shadow: 0 3px 0 rgb(16, 240, 16) inset,
    0 4px 0 rgba(16, 240, 16, 1) inset,
    0 5px 0 rgba(16, 240, 16, 1) inset,
    0 6px 0 rgba(16, 240, 16, 0.8) inset,
    0 7px 0 rgba(14, 240, 16, 0.6) inset,
    0 8px 0 rgba(15, 240, 16, 0.4) inset,
    0 9px 0 rgba(15, 240, 16, 0.2) inset;
    animation-duration: 2s;
    animation-name: slide246;
}
.contain__skill--165--animate {
    width: 165px;
    height: 25px;
    background-color: rgb(9, 196, 9);
    border-radius: 4px;
    box-shadow: 0 3px 0 rgb(16, 240, 16) inset,
    0 4px 0 rgba(16, 240, 16, 1) inset,
    0 5px 0 rgba(16, 240, 16, 1) inset,
    0 6px 0 rgba(16, 240, 16, 0.8) inset,
    0 7px 0 rgba(14, 240, 16, 0.6) inset,
    0 8px 0 rgba(15, 240, 16, 0.4) inset,
    0 9px 0 rgba(15, 240, 16, 0.2) inset;
    animation-duration: 2s;
    animation-name: slide165;
}
.contain__skill--219--animate {
    width: 219px;
    height: 25px;
    background-color: rgb(9, 196, 9);
    border-radius: 4px;
    box-shadow: 0 3px 0 rgb(16, 240, 16) inset,
    0 4px 0 rgba(16, 240, 16, 1) inset,
    0 5px 0 rgba(16, 240, 16, 1) inset,
    0 6px 0 rgba(16, 240, 16, 0.8) inset,
    0 7px 0 rgba(14, 240, 16, 0.6) inset,
    0 8px 0 rgba(15, 240, 16, 0.4) inset,
    0 9px 0 rgba(15, 240, 16, 0.2) inset;
    animation-duration: 2s;
    animation-name: slide219;
}
.contain__skill--189--animate {
    width: 189px;
    height: 25px;
    background-color: rgb(9, 196, 9);
    border-radius: 4px;
    box-shadow: 0 3px 0 rgb(16, 240, 16) inset,
    0 4px 0 rgba(16, 240, 16, 1) inset,
    0 5px 0 rgba(16, 240, 16, 1) inset,
    0 6px 0 rgba(16, 240, 16, 0.8) inset,
    0 7px 0 rgba(14, 240, 16, 0.6) inset,
    0 8px 0 rgba(15, 240, 16, 0.4) inset,
    0 9px 0 rgba(15, 240, 16, 0.2) inset;
    animation-duration: 2s;
    animation-name: slide189;
}
.contain__skill--102--animate {
    width: 102px;
    height: 25px;
    background-color: rgb(9, 196, 9);
    border-radius: 4px;
    box-shadow: 0 3px 0 rgb(16, 240, 16) inset,
    0 4px 0 rgba(16, 240, 16, 1) inset,
    0 5px 0 rgba(16, 240, 16, 1) inset,
    0 6px 0 rgba(16, 240, 16, 0.8) inset,
    0 7px 0 rgba(14, 240, 16, 0.6) inset,
    0 8px 0 rgba(15, 240, 16, 0.4) inset,
    0 9px 0 rgba(15, 240, 16, 0.2) inset;
    animation-duration: 2s;
    animation-name: slide102;
}
.contain__skill--261--animate {
    width: 261px;
    height: 25px;
    background-color: rgb(9, 196, 9);
    border-radius: 4px;
    box-shadow: 0 3px 0 rgb(16, 240, 16) inset,
    0 4px 0 rgba(16, 240, 16, 1) inset,
    0 5px 0 rgba(16, 240, 16, 1) inset,
    0 6px 0 rgba(16, 240, 16, 0.8) inset,
    0 7px 0 rgba(14, 240, 16, 0.6) inset,
    0 8px 0 rgba(15, 240, 16, 0.4) inset,
    0 9px 0 rgba(15, 240, 16, 0.2) inset;
    animation-duration: 2s;
    animation-name: slide261;
}
.contain__skill--213--animate {
    width: 213px;
    height: 25px;
    background-color: rgb(9, 196, 9);
    border-radius: 4px;
    box-shadow: 0 3px 0 rgb(16, 240, 16) inset,
    0 4px 0 rgba(16, 240, 16, 1) inset,
    0 5px 0 rgba(16, 240, 16, 1) inset,
    0 6px 0 rgba(16, 240, 16, 0.8) inset,
    0 7px 0 rgba(14, 240, 16, 0.6) inset,
    0 8px 0 rgba(15, 240, 16, 0.4) inset,
    0 9px 0 rgba(15, 240, 16, 0.2) inset;
    animation-duration: 2s;
    animation-name: slide213;
}
.contain__skill--243--animate {
    width: 243px;
    height: 25px;
    background-color: rgb(9, 196, 9);
    border-radius: 4px;
    box-shadow: 0 3px 0 rgb(16, 240, 16) inset,
    0 4px 0 rgba(16, 240, 16, 1) inset,
    0 5px 0 rgba(16, 240, 16, 1) inset,
    0 6px 0 rgba(16, 240, 16, 0.8) inset,
    0 7px 0 rgba(14, 240, 16, 0.6) inset,
    0 8px 0 rgba(15, 240, 16, 0.4) inset,
    0 9px 0 rgba(15, 240, 16, 0.2) inset;
    animation-duration: 2s;
    animation-name: slide243;
}
.contain__skill--201--animate {
    width: 201px;
    height: 25px;
    background-color: rgb(9, 196, 9);
    border-radius: 4px;
    box-shadow: 0 3px 0 rgb(16, 240, 16) inset,
    0 4px 0 rgba(16, 240, 16, 1) inset,
    0 5px 0 rgba(16, 240, 16, 1) inset,
    0 6px 0 rgba(16, 240, 16, 0.8) inset,
    0 7px 0 rgba(14, 240, 16, 0.6) inset,
    0 8px 0 rgba(15, 240, 16, 0.4) inset,
    0 9px 0 rgba(15, 240, 16, 0.2) inset;
    animation-duration: 2s;
    animation-name: slide201;
}
.contain__skill--225--animate {
    width: 225px;
    height: 25px;
    background-color: rgb(9, 196, 9);
    border-radius: 4px;
    box-shadow: 0 3px 0 rgb(16, 240, 16) inset,
    0 4px 0 rgba(16, 240, 16, 1) inset,
    0 5px 0 rgba(16, 240, 16, 1) inset,
    0 6px 0 rgba(16, 240, 16, 0.8) inset,
    0 7px 0 rgba(14, 240, 16, 0.6) inset,
    0 8px 0 rgba(15, 240, 16, 0.4) inset,
    0 9px 0 rgba(15, 240, 16, 0.2) inset;
    animation-duration: 2s;
    animation-name: slide225;
}
.contain__skill--273--animate {
    width: 273px;
    height: 25px;
    background-color: rgb(9, 196, 9);
    border-radius: 4px;
    box-shadow: 0 3px 0 rgb(16, 240, 16) inset,
    0 4px 0 rgba(16, 240, 16, 1) inset,
    0 5px 0 rgba(16, 240, 16, 1) inset,
    0 6px 0 rgba(16, 240, 16, 0.8) inset,
    0 7px 0 rgba(14, 240, 16, 0.6) inset,
    0 8px 0 rgba(15, 240, 16, 0.4) inset,
    0 9px 0 rgba(15, 240, 16, 0.2) inset;
    animation-duration: 2s;
    animation-name: slide273;
}

.contain__skill__text {
    position: absolute;
    left: 135px;
    text-shadow: 2px 1px 1px black;
    margin-top: -3px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.container__skill__title {
    display: flex;
    width: 300px;
    height: 32px;
    justify-content: center;
}
.contain__skill__title {
    text-shadow: 2px 1px 1px black;
    color: white;
    margin: -3px 0; 
    font-size: 20px;
    font-weight: bold;
}


@keyframes slide150 {
    from {
        width: 0px;
    }
    to {
        width: 150px;
    }
}
@keyframes slide204 {
    from {
        width: 0px;
    }
    to {
        width: 204px;
    }
}
@keyframes slide246 {
    from {
        width: 0px;
    }
    to {
        width: 246px;
    }
}
@keyframes slide165 {
    from {
        width: 0px;
    }
    to {
        width: 165px;
    }
}
@keyframes slide219 {
    from {
        width: 0px;
    }
    to {
        width: 219px;
    }
}
@keyframes slide189 {
    from {
        width: 0px;
    }
    to {
        width: 189px;
    }
}
@keyframes slide102 {
    from {
        width: 0px;
    }
    to {
        width: 102px;
    }
}

@keyframes slide261 {
    from {
        width: 0px;
    }
    to {
        width: 261px;
    }
}
@keyframes slide213 {
    from {
        width: 0px;
    }
    to {
        width: 213px;
    }
}
@keyframes slide243 {
    from {
        width: 0px;
    }
    to {
        width: 243px;
    }
}
@keyframes slide201 {
    from {
        width: 0px;
    }
    to {
        width: 201px;
    }
}
@keyframes slide225 {
    from {
        width: 0px;
    }
    to {
        width: 225px;
    }
}
@keyframes slide273 {
    from {
        width: 0px;
    }
    to {
        width: 273px;
    }
}

