.presentation {
  position: relative;
    height: 975px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: radial-gradient(rgb(141, 184, 161), #04454D);
  }
.presention__title {
  margin-top: 50px;
  width: 100%;
  height: 50px;
  display: flex;
  background-color: black;
  color:white;
  justify-content: center;
  align-items: center;
}
.presentation__title__text {
  font-size: 35px;
  font-weight:700;
}


.text1 {
  color: white;
  text-align:center;
  margin-top: 42px;
  font-size: 18px;
}






