.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 975px;
    width: 100%;
    background: radial-gradient(rgb(141, 184, 161), #04454D);
  }

  .project1 {
    width: 250px;
    height: 250px;
    background-color: blue;
    color: white;
  }

  .projects__title {
    margin: 80px 0 100px 0;
    font-size: 40px;
    font-weight: bold;
    color: rgb(202, 224, 213);
    text-shadow: 2px 2px 1px black;
  }
  .projects__title--project {
    margin: 80px 0 100px 250px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(202, 224, 213);
    text-shadow: 2px 2px 1px black;
  }