.container__project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__projects {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}