.object1--neverHover {
  position: absolute;
    top: 200px;
    left: 90px;
    animation: neverHover 2s infinite;
}
@keyframes neverHover {
  0% {
    top: 195px;
  }
  25% {
    top:205px;
  }
  50% {
    top: 195px;
  }
  75% {
    top:205px;
  }
  100% {
    top:195px;
  }
}
.object1 {
    position: absolute;
    width: auto;
    height: auto;
    top: 200px;
    left: 90px;
}
.object1__img {
  animation: object__imgReverse--anim 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object1__img--anim {
  animation: object__img--anim 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object1__shadow {
  animation: shadow11 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards ;
}
.object1__shadow--anim {
  animation: shadow1 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}



@keyframes shadow11 {
    from {
      margin-left: -35px;
      margin-top: -30px;
      width: 200px;
      height: 30px;
      background-color: rgb(5, 43, 31);
      border-radius: 50%;
    }
    to {
      margin-left: 13px;
      margin-top: -20px;
      width: 100px;
      height: 15px;
      background-color: rgb(15, 15, 15);
      border-radius: 50%;
    }
  }
@keyframes shadow1 {
    from {
      margin-left: 13px;
      margin-top: -20px;
      width: 100px;
      height: 15px;
      background-color: rgb(15, 15, 15);
      border-radius: 50%;
    }
    to {
      margin-left: -35px;
      margin-top: -30px;
      width: 200px;
      height: 30px;
      background-color: rgb(5, 43, 31);
      border-radius: 50%;
    }
  }

  /*OBJECT2 AND HIS IMAGE*/
.object2 {
	position: absolute;
	width: auto;
	height: auto;
  top: 760px;
	left: 180px;
	z-index: 8;
	
}
.object2__img {
	width: 170px;
	height: 170px;
  animation: object__imgReverse--anim 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object2__img--anim {
	width: 170px;
	height: 170px;
	animation: object__img--anim 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object2__shadow {
  animation: shadow22 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object2__shadow--anim {
  animation: shadow2 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
@keyframes shadow22 {
  from {
		margin-left: -35px;
		margin-top:-30px;
    width: 200px;
    height: 30px;
    background-color: rgb(5, 43, 31);
    border-radius: 50%;
	}
  to {
    margin-left: 20px;
		margin-top:-20px;
		width: 100px;
		height: 15px;
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
  }
}
@keyframes shadow2 {
  from {
    width: 100px;
		height: 15px;
		margin-left: 20px;
		margin-top:-20px;
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
  }
  to {
		margin-left: -35px;
		margin-top:-30px;
    width: 200px;
    height: 30px;
    background-color: rgb(5, 43, 31);
    border-radius: 50%;
  }
}

/*ANIMATION OBJECT3*/

.object3 {
  position: absolute;
  width: auto;
  height: auto;
  top: 150px;
  left: 510px;
}
.object3__img {
  animation: object__imgReverse--anim 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object3__img--anim {
  animation: object__img--anim 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object3__shadow {
  animation: shadow33 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards ;
}
.object3__shadow--anim {
  animation: shadow3 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
@keyframes shadow33 {
  from {
    margin-left: -18px;
    margin-top: -9px;
    width: 180px;
    height: 30px;
    background-color: rgb(5, 43, 31);
    border-radius: 50%;
  }
  to {
    margin-left:22px;
    width: 100px;
    height: 15px;
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
  }
}
@keyframes shadow3 {
  from {
    margin-left:22px;
    width: 100px;
    height: 15px;
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
  }
  to {
    margin-left: -18px;
    margin-top: -9px;
    width: 180px;
    height: 30px;
    background-color: rgb(5, 43, 31);
    border-radius: 50%;
  }
}


/*ANIMATION OJBECT4*/
.object4 {
	position: absolute;
	width: auto;
	height: auto;
  top: 510px;
  left: 750px;
}
.object4__img {
  animation: object__imgReverse--anim 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object4__img--anim {
  animation: object__img--anim 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object4__shadow {
  animation: shadow44 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards ;
}
.object4__shadow--anim {
  animation: shadow4 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
@keyframes shadow44 {
  from {
    margin-left: -35px;
    margin-top: -15px;
    width: 200px;
    height: 30px;
    background-color: rgb(5, 43, 31);
    border-radius: 50%;
  }
  to {
		margin-left: 16px;
		margin-top: -5px;
    width: 100px;
    height: 15px;
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
  }
}
@keyframes shadow4 {
  from {
		margin-left: 16px;
		margin-top: -5px;
    width: 100px;
    height: 15px;
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
  }
  to {
    margin-left: -35px;
    margin-top: -15px;
    width: 200px;
    height: 30px;
    background-color: rgb(5, 43, 31);
    border-radius: 50%;
  }
}


/*ANIMATION OJBECT5*/
.object5 {
	position: absolute;
  width: auto;
  height: auto;
  top: 160px;
  left: 1320px;
}
.object5__img {
  animation: object__imgReverse--anim 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object5__img--anim {
  animation: object__img--anim 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object5__shadow {
  animation: shadow55 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards ;
}
.object5__shadow--anim {
  animation: shadow5 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
@keyframes shadow55 {
  from {
    margin-left: -35px;
    margin-top: -10px;
    width: 200px;
    height: 30px;
    background-color: rgb(5, 43, 31);
    border-radius: 50%;
  }
  to {
    margin-left: 13px;
    width: 100px;
    height: 15px;
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
  }
}
@keyframes shadow5 {
  from {
    margin-left: 13px;
    width: 100px;
    height: 15px;
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
  }
  to {
    margin-left: -35px;
    margin-top: -10px;
    width: 200px;
    height: 30px;
    background-color: rgb(5, 43, 31);
    border-radius: 50%;
  }
}

/*ANIMATION OJBECT6*/

.object6 {
	position: absolute;
	width: auto;
	height: auto;
  top: 815px;
  left: 1130px;
}
.object6__img {
  animation: object__imgReverse--anim 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object6__img--anim {
  animation: object__img--anim 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object6__shadow {
  animation: shadow66 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards ;
}
.object6__shadow--anim {
  animation: shadow6 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
@keyframes shadow66 {
  from {
    margin-left: -42px;
    margin-top: -5px;
    width: 200px;
    height: 30px;
    background-color: rgb(5, 43, 31);
    border-radius: 50%;
  }
  to {
		margin-left: 7px;
    margin-top: 5px;
    width: 100px;
    height: 15px;
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
  }
}
@keyframes shadow6 {
  from {
		margin-left: 7px;
    margin-top:5px;
    width: 100px;
    height: 15px;
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
  }
  to {
    margin-left: -42px;
    margin-top: -5px;
    width: 200px;
    height: 30px;
    background-color: rgb(5, 43, 31);
    border-radius: 50%;
  }
}

/*ANIMATION OJBECT7*/

.object7 {
	position: absolute;
	width: auto;
	height: auto;
  top: 530px;
  left: 1580px;
}
.object7__img {
  animation: object__imgReverse--anim 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object7__img--anim {
  animation: object__img--anim 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
.object7__shadow {
  animation: shadow77 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards ;
}
.object7__shadow--anim {
  animation: shadow7 0.3s cubic-bezier(0.82, 0.22, 0.4, 1.19) forwards;
}
@keyframes shadow77 {
  from {
    margin-left: 30px;
    margin-top: -50px;
    width: 250px;
    height: 30px;
    background-color: rgb(5, 43, 31);
    border-radius: 50%;
  }
  to {
    margin-left: 85px;
    margin-top: -40px;
    width: 140px;
    height: 15px;
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
  }
}
@keyframes shadow7 {
  from {
    margin-left: 85px;
    margin-top: -40px;
    width: 140px;
    height: 15px;
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
  }
  to {
    margin-left: 30px;
    margin-top: -50px;
    width: 250px;
    height: 30px;
    background-color: rgb(5, 43, 31);
    border-radius: 50%;
  }
}


/*ANIMATION SCALE FOR IMG*/
@keyframes object__img--anim {
	from {
			transform: scale(1) translateY(0px);
	}
	to {
			transform: scale(1.2) translateY(-40px);
	}
}  
@keyframes object__imgReverse--anim {
	from {
			transform: scale(1.2) translateY(-40px);
	}
	to {
			transform: scale(1) translateY(0px);
	}
}  


  

