.link__button {
    text-decoration: none;
}
.button {
    width: 120px;
    height: 30px;
    
    background-color:rgb(202, 224, 213);
    border-radius: 6px;
    user-select: none;
}

.button__contain {
    width: 100%;
    height: 100%;
    background-color: #12152B;
    border-radius: 4px;
    text-align: center;
    color: rgb(0,0,0);
    transition: transform 0.2s;
    
}
.button__contain__text {
    margin: auto;
    font-size: 16px;
    font-weight: 700;
    color: rgb(202, 224, 213);
}

.button__contain:hover {
    color: black;
    transform: translate(3px, -4px);
}
