.landpage {
  position: relative;
  height: 975px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url("../../images/geometry.jpg") fixed no-repeat;
  background-size: cover;
  }
  
.landpage__img {
  flex-grow: 1;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: solid 2px #ACC1B6;
  user-select: none;
}
.landpage__text__title1 {
  margin-top: 100px;
  color: #ACC1B6;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
}