.carousel__button {
    width: 50px;
    height: 50px;
    background: transparent;
    display: flex;
    justify-content: center;
}
.carousel__button--rotate {
    width: 50px;
    height: 50px;
    background: transparent;
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
}
.carousel__button2 {
    position: relative;
    width: 30px;
    height: 10px;
    margin-top: 13px;
    background-color: rgb(133, 224, 209);
    transform: rotate(45deg);
    border-radius: 5px;

}
.carousel__button3 {
    position: absolute;
    width: 30px;
    height: 10px;
    background-color: rgb(133, 224, 209);
    border-radius: 5px;
    transform: rotate(90deg) translate(10px, -10px);
}
button {
    background-color: red;
}

@keyframes slideArrowLeft {
    0% {
        transform: translateX(0px) rotate(180deg);
    }
    50% {
        transform: translateX(5px) rotate(180deg);
    }
    100% {
        transform: translateX(0px) rotate(180deg);
    }
}
@keyframes slideArrowRight {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(5px)
    }
    100% {
        transform: translateX(0px);
    }
}