.skills {
  height: 975px;
  width: 100%;
  display: flex;
  align-items: center;
  background: url("../../images/matrix1.jpg") fixed no-repeat;
  background-size: cover;
  user-select: none;
}
.skills__container {
  position: relative;
  display: flex;
  width: 100%;
  height: 600px;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
}

.skill__container__man {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  user-select: none;

}
.skill__container__man--skill {
  margin: auto;
  width: 400px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
}
.skill__container__man--img {
  position: relative;
  width: 120px;
  margin-left: 30px;
  margin-top: 60px;
  user-select: none;
}
.skill__container__man--img1 {
  position: absolute;
  height: 435px;
  user-select: none;
}
.skills__title {
  margin: 0;
  margin-left: 30px;
  font-size: 40px;
  font-weight: bold;
  color: rgb(202, 224, 213);
  text-shadow: 2px 2px 1px black;
  user-select: none;
}