
.project {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    box-shadow: 8px 8px 8px black;
}
.project__background__hide {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #12152B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project__background__hide__text1 {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: rgba(18, 21, 43, 0.9);
}
.project__background__hide__text2 {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: rgba(18, 21, 43, 0.9);
    
}
.project__background__hide__contain__text {
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    font-weight:700;
    color: rgb(202, 224, 213);
    text-align: justify;
    user-select: none;
}
.project__background--poker {
    position: absolute;
    top: 0px;
    width: 400px;
    height: 400px;
    background: no-repeat url("../../../images/poker.jpg");
    background-size: cover;
    transition: transform 0.3s;
}
.project__background--pico {
    position: absolute;
    top: 0px;
    width: 400px;
    height: 400px;
    background: no-repeat url("../../../images/dices.jpg");
    background-size: cover;
    transition: transform 0.3s;
}
.project__background--openclassroom {
    position: absolute;
    top: 0px;
    width: 400px;
    height: 400px;
    background: no-repeat url("../../../images/openclassroom.png");
    background-size: cover;
    transition: transform 0.3s;
}

/* PROJECT SMALL*/

.project--small {
    position: relative;
    width: 175px;
    height: 175px;
    overflow: hidden;
    
    box-shadow: 5px 5px 2px black;
}
.project__background--poker--little {
    width: 175px;
    height: 175px;
    background: no-repeat url("../../../images/poker.jpg");
    background-size: cover;
    transition: transform 0.3s;
}
.project__background--pico--little {
    width: 175px;
    height: 175px;
    background: no-repeat url("../../../images/dices.jpg");
    background-size: cover;
    transition: transform 0.3s;
}
.project__background--openclassroom--little {
    width: 175px;
    height: 175px;
    background: no-repeat url("../../../images/openclassroom.png");
    background-size: cover;
    transition: transform 0.3s;
}