.dices {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.dice {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-color: white;
}
.dices__container {
    display: flex;
    flex-direction: column;
}
.dices__contain__text {
    margin: 0;
    margin-top: 5px;
    font-size: 20px;
    font-weight:500;
    color: rgb(202, 224, 213);
    text-align: justify;
}
.dices__container__text {
    margin-top: 20px;
    margin-left: 20px;
}