.carousel__dot {
    margin: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(58, 97, 90);
}
.carousel__dot--focus {
    margin: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(133, 224, 209);
}