.foot__right {
    margin: 0 15px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    transform: rotate(95deg) translateX(20%);
  }

.foot__left {
margin: 0 15px;
margin-bottom: 10px;
width: 60px;
height: 60px;
transform:rotate(85deg) scaleX(-1) translateX(20%);
}

.container__footer1 {
  position: absolute;
  top: 500px;
  left: -35px;
  display: flex;
  transform:rotate(80deg);
}

.container__footer2 {
  position: absolute;
  top: 500px;
  left: 155px;
  display: flex;
  transform:rotate(300deg);
}

.container__footer3 {
  position: absolute;
  top: 370px;
  left: 580px;
  display: flex;
  transform:rotate(53deg);
}
.container__footer4 {
  position: absolute;
  top: 375px;
  left: 840px;
  display: flex;
  transform:rotate(323deg);
}
.container__footer5 {
  position: absolute;
  top: 520px;
  left: 1010px;
  display: flex;
  transform:rotate(110deg);
}
.container__footer6 {
  position: absolute;
  top: 700px;
  left: 1220px;
  display: flex;
  transform:rotate(325deg);
}

