
.carousel__project {
    margin-right: 100px;
    width: 1550px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
}
.carousel__project__container {
    margin-top: -50px;
    width: 1100px;
    height: 650px;
    background-color:transparent;
    border-radius: 20px;
    animation: opacityFrame 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) ;
    -webkit-animation: opacityFrame 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) ;
}

.carousel__project__container__dot {
    display: flex;

}
.slider-frame {
    border-radius: 20px;
}
/* ALL SMALL PROJECTS*/
.carousel__other__project__container {
    margin-top: -50px;
    width: 250px;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.projet__small {
    width: 175px;
    height: 175px;
}
@-webkit-keyframes opacityFrame {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  @keyframes opacityFrame {
    0% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
  }