.contact {
  height: 975px;
  width: 100%;
  background: url("../../images/geometry2.jpg") fixed no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.contact__container {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact__container__man--img {
  position: relative;
  user-select: none;
}
.contact__container__man--img1 {
  height: 435px;
  user-select: none;
} 
.contact__form {
  width: 1000px;
  height: 600px;
  background-color: green;
}
.contact__container__text {
  text-align: center;
  margin-top: 100px;
}