.header {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #12152B;
    z-index: 2;
}
.header__logo {
    margin-top: 5px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
}