.text__about1 {
    position: absolute;
    width: 211px;
    height: 122px;
    top: 143px;
    left: 250px;
    background-color: #12152B;
    border-radius: 20px;
    border: solid 1px rgb(143, 245, 228);
    
}
.text__about1--small {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 51px;
    left: -11px;
    background-color: #12152B;
    transform: rotate(45deg);
    border-left: solid 1px rgb(143, 245, 228);
    border-bottom: solid 1px rgb(143, 245, 228);
}
.text__about2 {
    position: absolute;
    width: 230px;
    height: 214px;
    top: 700px;
    left: 370px;
    background-color: #12152B;
    border-radius: 20px;
    border: solid 1px rgb(143, 245, 228);
}
.text__about2--small {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 92px;
    left: -11px;
    background-color: #12152B;
    transform: rotate(45deg);
    border-left: solid 1px rgb(143, 245, 228);
    border-bottom: solid 1px rgb(143, 245, 228);
}
.text__about3 {
    position: absolute;
    width: 300px;
    height: 214px;
    top: 75px;
    left: 680px;
    background-color: #12152B;
    border-radius: 20px;
    border: solid 1px rgb(143, 245, 228);
}
.text__about3--small {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 92px;
    left: -11px;
    background-color: #12152B;
    transform: rotate(45deg);
    border-left: solid 1px rgb(143, 245, 228);
    border-bottom: solid 1px rgb(143, 245, 228);
}
.text__about4 {
    position: absolute;
    width: 270px;
    height: 196px;
    top: 675px;
    left: 680px;
    background-color: #12152B;
    border-radius: 20px;
    border: solid 1px rgb(143, 245, 228);
}
.text__about4--small {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -11px;
    left: 125px;
    background-color: #12152B;
    transform: rotate(45deg);
    border-left: solid 1px rgb(143, 245, 228);
    border-top: solid 1px rgb(143, 245, 228);
}
.text__about5 {
    position: absolute;
    width: 370px;
    height: 198px;
    top: 81px;
    left: 1490px;
    background-color: #12152B;
    border-radius: 20px;
    border: solid 1px rgb(143, 245, 228);
}
.text__about5--small {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 84px;
    left: -11px;
    background-color: #12152B;
    transform: rotate(45deg);
    border-left: solid 1px rgb(143, 245, 228);
    border-bottom: solid 1px rgb(143, 245, 228);
}
.text__about6 {
    position: absolute;
    width: 300px;
    height: 218px;
    top: 730px;
    left: 790px;
    background-color: #12152B;
    border-radius: 20px;
    border: solid 1px rgb(143, 245, 228);
}
.text__about6--small {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 96px;
    left: 289px;
    background-color: #12152B;
    transform: rotate(45deg);
    border-right: solid 1px rgb(143, 245, 228);
    border-top: solid 1px rgb(143, 245, 228);
}
.text__about7 {
    position: absolute;
    width: 330px;
    height: 218px;
    top: 260px;
    left: 1570px;
    background-color: #12152B;
    border-radius: 20px;
    border: solid 1px rgb(143, 245, 228);
}
.text__about7--small {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 207px;
    left: 155px;
    background-color: #12152B;
    transform: rotate(45deg);
    border-right: solid 1px rgb(143, 245, 228);
    border-bottom: solid 1px rgb(143, 245, 228);
}

.text__about__title {
    margin: auto;
    margin-bottom: 7px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: rgb(202, 224, 213);
}

.text__about__summarise {
    margin: 0 24px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(202, 224, 213);
    text-align: justify;
}

.text__about__skill {
    margin: 3px 0;
    font-size: 15px;
    font-weight: 700;
    color: rgb(202, 224, 213);
}
.container__text__about__skill {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}
.container2__text__about__skill {
    height: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.text__about__skill__btn {
    width: 10px;
    height: 10px;
    margin: 9px 5px 0px 24px;
    border-radius: 50%;
    background-color: rgb(133, 224, 209);
}
